@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Roboto:wght@100;300;400;500;700&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Righteous', sans-serif;
    font-family: 'Roboto', sans-serif;
    background-color: #EEEEEE;
}

header {
    background-color: #CF2B2B;
    height: 92px;
    
    display: flex;
    align-items: center;

    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
}

header> div {
    margin-left: 21px;
}

header h1 {
    font-family: 'Righteous', sans-serif;
    font-weight: 400;
    font-size: 44px;
    line-height: 44px;
    color: #FFFFFF;
}

header h3 {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 17px;
    color: #FFFFFF;
    margin-top: 5px;
}

section {
    margin-top: 92px;
    padding-top: 31px;
    padding-left: 19px;
    margin-bottom: 92px;
    padding-bottom: 16px;
}


.wrapper h2 {
    font-family: 'Righteous', sans-serif;
    color: #333333;
    font-weight: 400;
    font-size: 26px;
    line-height: 25px;
    margin-bottom: 17px;
}

.wrapper .cards {
    display: flex;
    overflow-x: scroll;
    
}

.wrapper .card {
    width: 172px;
    height: 216px;
    background-color: #FFFFFF;
    box-shadow: 0px 0px 10px -4px rgba(0, 0, 0, 0.25);
    border-radius: 9px;
    margin-right: 17px;
    font-family: 'Roboto', sans-serif;
    
    
}

.wrapper .card>* {
    margin-left: 14px;
    margin-right: 14px;
}

.show {
    box-shadow: 0px 0px 10px -4px rgba(0, 0, 0, 0.25), inset 0px 0px 0px 5px #32B72F !important;
}

.show div img {
    opacity: 1 !important;
}

.card img:first-child {
    margin-top: 18px;
    width: 144px;
    height: 87px;
    border-radius: 4px;
}

.card h3 {
    color: #333333;
    font-weight: 700;
    font-size: 16px;
    line-height: 23px;
    margin: 4px;
}

.card h4 {
    color: #A6A6A6;
    font-weight: 300;
    font-size: 15px;
    line-height: 17.5px;
    margin-bottom: 4px;
}

.card p {
    color: #000000;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    margin-top: 10px;
}

.card div {
    display: flex;
    justify-content: space-between;
}

.card div img {
    margin-top: 10px;
    opacity: 0;
}

.wrapper + .wrapper {
    margin-top: 27px;
}

footer {
    width: 100vw;
    height: 92px;
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;

    position: fixed;
    bottom: 0;
    left: 0;
}

footer button {
    background: #CBCBCB;
    border-radius: 50px;
    width: 364px;
    height: 61px;
    border: none;
}

button p {
    font-size: 20px;
    font-weight: 400;
    line-height: 23.5px;
    text-align: center;
    color: #FFFFFF;
}

.on {
    background: #32B72F !important;
}

.blur {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    background-color: rgba(238, 238, 238, 0.8);
}

.hidden {
    display: none;
}

.cont {
    font-family: 'Roboto', sans-serif;;
    display: flex;
    align-items: center;
    flex-direction: column;

}

.cont div {
    display: flex;
    justify-content: space-between;
    width: 327px;
    margin-bottom: 15px;
}

.cont h4 {
    margin-top: 21px;
    margin-bottom: 28px;
    font-size: 22px;
    font-weight: bold;
    text-align: center;
    line-height: 27px;
    color: #FFFFFF;
}

.checklist {
    width: 94vw;
    height: 353px;
    border-radius: 9px;
    background-color: #50D074;
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    position: fixed;
    top: calc(50% - 353px/2 - 0.5px);
    left: 12px;
    z-index: 100;
}

.checklist .cont div h5,p {
    font-weight: 400;
    color: #FFFFFF;
    font-size: 22px;
    line-height: 22px;
}

.cont button {
    margin-top: 10px;
    width: 329px;
    height: 52px;
    border-radius: 100px;
    color: #FFFFFF;
    border: none;
}

.cont button p {
    color: #50D074;
    font-size: 22px;
    font-weight: bold;
}

.cont h6 {
    color: #FFFFFF;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    margin-top: 23px;
}

.cont .totnam, .totval {
    font-weight: bold !important;
}